/* required LIB STYLES */
/* .Treant se automatski dodaje na svaki chart conatiner */
.Treant {
    position: relative;
    overflow: hidden;
    padding: 0 !important;
}

.Treant > .node,
.Treant > .pseudo {
    position: absolute;
    display: block;
    visibility: hidden;
}

.Treant.Treant-loaded .node,
.Treant.Treant-loaded .pseudo {
    visibility: visible;
}

.Treant > .pseudo {
    width: 0;
    height: 0;
    border: none;
    padding: 0;
}

.Treant .collapse-switch {
    width: 3px;
    height: 3px;
    display: block;
    border: 1px solid black;
    position: absolute;
    top: 1px;
    right: 1px;
    cursor: pointer;
}

.Treant .collapsed .collapse-switch {
    background-color: #868DEE;
}

.Treant > .node img {
    border: none;
    float: left;
}

.evolution-tree {
    padding: 2px;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    font-size: 10px;
}