.seq {
    font-family: monospace;
    font-size: 14px;
    float: left;
}

.gap_post {
    font-family: monospace;
    font-size: 14px;
    float: left;
}

.gap_pre {
    font-family: monospace;
    font-size: 14px;
    float: left;
    position: absolute
}

.nuc_A {
    background-color: #7FFF00
}

.nuc_C {
    background-color: #DC143C
}

.nuc_G {
    background-color: #FFFF00
}

.nuc_T {
    background-color: #4169E1
}

.nuc_V {
    background-color: #2229E1
}

.amino_A {
    background-color: #7FFF00
}

.amino_R {
    background-color: #126528
}

.amino_N {
    background-color: #3ad441
}

.amino_D {
    background-color: #6d76ed
}

.amino_C {
    background-color: #df953f
}

.amino_F {
    background-color: #067a6a
}

.amino_Q {
    background-color: #c90447
}

.amino_E {
    background-color: #d843eb
}

.amino_G {
    background-color: #27c8ac
}

.amino_H {
    background-color: #ba652a
}

.amino_I {
    background-color: #7121f8
}

.amino_L {
    background-color: #8e54c5
}

.amino_K {
    background-color: #3116e4
}

.amino_M {
    background-color: #faa1f3
}

.amino_P {
    background-color: #490118
}

.amino_S {
    background-color: #02eefe
}

.amino_T {
    background-color: #665e61
}

.amino_W {
    background-color: #ded040
}

.amino_Y {
    background-color: #8c1f1c
}

.amino_V {
    background-color: #2229E1
}
