.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    right: 105%;
    /* Position the tooltip */
    position: absolute;
    z-index: 0;

}

.tooltip:hover .tooltiptext {
    visibility: visible;
}